{
	"include": "src/**/*.js",
	"all": true,
	"reporter": [
		"text-summary",
		"lcov",
		"html"
	],
	"check-coverage": true,
	"lines": 85,
	"statements": 85,
	"functions": 85,
	"branches": 77,
	"report-dir": "./coverage"
}
