<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="BoxCLI" Language="1033" Version="1.2.0" Manufacturer="Box" UpgradeCode="4c6ec143-4c4b-4c0e-bf14-4e0fa8e1101b">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" Platform="x64"/>
    <UI>
      <UIRef Id="WixUI_InstallDir" />
      <Publish Dialog="WelcomeDlg"
            Control="Next"
            Event="NewDialog"
            Value="InstallDirDlg"
            Order="2">1</Publish>
      <Publish Dialog="InstallDirDlg"
            Control="Back"
            Event="NewDialog"
            Value="WelcomeDlg"
            Order="2">1</Publish>
    </UI>
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    <WixVariable Id="WixUIBannerBmp" Value="White_square.jpg"/>
    <MediaTemplate EmbedCab="yes" />
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <Feature Id="ProductFeature" Title="BoxCLI" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="INSTALLFOLDER" Name="BoxCLI" />
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER" Source="..\BoxCLI\bin\Release\netcoreapp2.0\win10-x64\publish">
      <Component Id="ProductComponent" Guid="{882DB6AA-1363-4724-8C43-2950E7ABECD4}" Win64="yes">
        <RemoveFile Directory="INSTALLFOLDER" Name="*.*" On="both" Id="REMOVEINSTALL" />
        <Environment Id="Path"
            Permanent="yes"
            Name="Path"
            Value="[INSTALLFOLDER]"
            Action="set"
            System="yes"
            Part="last"
            Separator=";" />
        <File Name="api-ms-win-core-console-l1-1-0.dll" />
        <File Name="api-ms-win-core-datetime-l1-1-0.dll" />
        <File Name="api-ms-win-core-debug-l1-1-0.dll" />
        <File Name="api-ms-win-core-errorhandling-l1-1-0.dll" />
        <File Name="api-ms-win-core-file-l1-1-0.dll" />
        <File Name="api-ms-win-core-file-l1-2-0.dll" />
        <File Name="api-ms-win-core-file-l2-1-0.dll" />
        <File Name="api-ms-win-core-handle-l1-1-0.dll" />
        <File Name="api-ms-win-core-heap-l1-1-0.dll" />
        <File Name="api-ms-win-core-interlocked-l1-1-0.dll" />
        <File Name="api-ms-win-core-libraryloader-l1-1-0.dll" />
        <File Name="api-ms-win-core-localization-l1-2-0.dll" />
        <File Name="api-ms-win-core-memory-l1-1-0.dll" />
        <File Name="api-ms-win-core-namedpipe-l1-1-0.dll" />
        <File Name="api-ms-win-core-processenvironment-l1-1-0.dll" />
        <File Name="api-ms-win-core-processthreads-l1-1-0.dll" />
        <File Name="api-ms-win-core-processthreads-l1-1-1.dll" />
        <File Name="api-ms-win-core-profile-l1-1-0.dll" />
        <File Name="api-ms-win-core-rtlsupport-l1-1-0.dll" />
        <File Name="api-ms-win-core-string-l1-1-0.dll" />
        <File Name="api-ms-win-core-synch-l1-1-0.dll" />
        <File Name="api-ms-win-core-synch-l1-2-0.dll" />
        <File Name="api-ms-win-core-sysinfo-l1-1-0.dll" />
        <File Name="api-ms-win-core-timezone-l1-1-0.dll" />
        <File Name="api-ms-win-core-util-l1-1-0.dll" />
        <File Name="api-ms-win-crt-conio-l1-1-0.dll" />
        <File Name="api-ms-win-crt-convert-l1-1-0.dll" />
        <File Name="api-ms-win-crt-environment-l1-1-0.dll" />
        <File Name="api-ms-win-crt-filesystem-l1-1-0.dll" />
        <File Name="api-ms-win-crt-heap-l1-1-0.dll" />
        <File Name="api-ms-win-crt-locale-l1-1-0.dll" />
        <File Name="api-ms-win-crt-math-l1-1-0.dll" />
        <File Name="api-ms-win-crt-multibyte-l1-1-0.dll" />
        <File Name="api-ms-win-crt-private-l1-1-0.dll" />
        <File Name="api-ms-win-crt-process-l1-1-0.dll" />
        <File Name="api-ms-win-crt-runtime-l1-1-0.dll" />
        <File Name="api-ms-win-crt-stdio-l1-1-0.dll" />
        <File Name="api-ms-win-crt-string-l1-1-0.dll" />
        <File Name="api-ms-win-crt-time-l1-1-0.dll" />
        <File Name="api-ms-win-crt-utility-l1-1-0.dll" />
        <File Name="BouncyCastle.Crypto.dll" />
        <File Name="box.deps.json" />
        <File Name="box.dll" />
        <File Name="box.exe" />
        <File Name="box.pdb" />
        <File Name="box.runtimeconfig.json" />
        <File Name="Box.V2.Core.dll" />
        <File Name="clrcompression.dll" />
        <File Name="clretwrc.dll" />
        <File Name="clrjit.dll" />
        <File Name="coreclr.dll" />
        <File Name="CsvHelper.dll" />
        <File Name="dbgshim.dll" />
        <File Name="hostfxr.dll" />
        <File Name="hostpolicy.dll" />
        <File Name="Microsoft.CSharp.dll" />
        <File Name="Microsoft.DiaSymReader.Native.amd64.dll" />
        <File Name="Microsoft.Extensions.Caching.Abstractions.dll" />
        <File Name="Microsoft.Extensions.Caching.Memory.dll" />
        <File Name="Microsoft.Extensions.CommandLineUtils.dll" />
        <File Name="Microsoft.Extensions.Configuration.Abstractions.dll" />
        <File Name="Microsoft.Extensions.Configuration.Binder.dll" />
        <File Name="Microsoft.Extensions.Configuration.dll" />
        <File Name="Microsoft.Extensions.Configuration.FileExtensions.dll" />
        <File Name="Microsoft.Extensions.Configuration.Json.dll" />
        <File Name="Microsoft.Extensions.DependencyInjection.Abstractions.dll" />
        <File Name="Microsoft.Extensions.DependencyInjection.dll" />
        <File Name="Microsoft.Extensions.FileProviders.Abstractions.dll" />
        <File Name="Microsoft.Extensions.FileProviders.Physical.dll" />
        <File Name="Microsoft.Extensions.FileSystemGlobbing.dll" />
        <File Name="Microsoft.Extensions.Logging.Abstractions.dll" />
        <File Name="Microsoft.Extensions.Logging.Console.dll" />
        <File Name="Microsoft.Extensions.Logging.dll" />
        <File Name="Microsoft.Extensions.Options.ConfigurationExtensions.dll" />
        <File Name="Microsoft.Extensions.Options.dll" />
        <File Name="Microsoft.Extensions.Primitives.dll" />
        <File Name="Microsoft.IdentityModel.Logging.dll" />
        <File Name="Microsoft.IdentityModel.Tokens.dll" />
        <File Name="Microsoft.VisualBasic.dll" />
        <File Name="Microsoft.Win32.Primitives.dll" />
        <File Name="Microsoft.Win32.Registry.dll" />
        <File Name="mscordaccore.dll" />
        <File Name="mscordaccore_amd64_amd64_4.6.00001.0.dll" />
        <File Name="mscordbi.dll" />
        <File Name="mscorlib.dll" />
        <File Name="mscorrc.debug.dll" />
        <File Name="mscorrc.dll" />
        <File Name="netstandard.dll" />
        <File Name="Newtonsoft.Json.dll" />
        <File Name="SharpCompress.dll" />
        <File Name="sos.dll" />
        <File Name="SOS.NETCore.dll" />
        <File Name="sos_amd64_amd64_4.6.00001.0.dll" />
        <File Name="System.AppContext.dll" />
        <File Name="System.Buffers.dll" />
        <File Name="System.Collections.Concurrent.dll" />
        <File Name="System.Collections.dll" />
        <File Name="System.Collections.Immutable.dll" />
        <File Name="System.Collections.NonGeneric.dll" />
        <File Name="System.Collections.Specialized.dll" />
        <File Name="System.ComponentModel.Annotations.dll" />
        <File Name="System.ComponentModel.Composition.dll" />
        <File Name="System.ComponentModel.DataAnnotations.dll" />
        <File Name="System.ComponentModel.dll" />
        <File Name="System.ComponentModel.EventBasedAsync.dll" />
        <File Name="System.ComponentModel.Primitives.dll" />
        <File Name="System.ComponentModel.TypeConverter.dll" />
        <File Name="System.Configuration.dll" />
        <File Name="System.Console.dll" />
        <File Name="System.Core.dll" />
        <File Name="System.Data.Common.dll" />
        <File Name="System.Data.dll" />
        <File Name="System.Diagnostics.Contracts.dll" />
        <File Name="System.Diagnostics.Debug.dll" />
        <File Name="System.Diagnostics.DiagnosticSource.dll" />
        <File Name="System.Diagnostics.FileVersionInfo.dll" />
        <File Name="System.Diagnostics.Process.dll" />
        <File Name="System.Diagnostics.StackTrace.dll" />
        <File Name="System.Diagnostics.TextWriterTraceListener.dll" />
        <File Name="System.Diagnostics.Tools.dll" />
        <File Name="System.Diagnostics.TraceSource.dll" />
        <File Name="System.Diagnostics.Tracing.dll" />
        <File Name="System.dll" />
        <File Name="System.Drawing.dll" />
        <File Name="System.Drawing.Primitives.dll" />
        <File Name="System.Dynamic.Runtime.dll" />
        <File Name="System.Globalization.Calendars.dll" />
        <File Name="System.Globalization.dll" />
        <File Name="System.Globalization.Extensions.dll" />
        <File Name="System.IdentityModel.Tokens.Jwt.dll" />
        <File Name="System.IO.Compression.dll" />
        <File Name="System.IO.Compression.FileSystem.dll" />
        <File Name="System.IO.Compression.ZipFile.dll" />
        <File Name="System.IO.dll" />
        <File Name="System.IO.FileSystem.AccessControl.dll" />
        <File Name="System.IO.FileSystem.dll" />
        <File Name="System.IO.FileSystem.DriveInfo.dll" />
        <File Name="System.IO.FileSystem.Primitives.dll" />
        <File Name="System.IO.FileSystem.Watcher.dll" />
        <File Name="System.IO.IsolatedStorage.dll" />
        <File Name="System.IO.MemoryMappedFiles.dll" />
        <File Name="System.IO.Pipes.dll" />
        <File Name="System.IO.UnmanagedMemoryStream.dll" />
        <File Name="System.Linq.dll" />
        <File Name="System.Linq.Expressions.dll" />
        <File Name="System.Linq.Parallel.dll" />
        <File Name="System.Linq.Queryable.dll" />
        <File Name="System.Net.dll" />
        <File Name="System.Net.Http.dll" />
        <File Name="System.Net.HttpListener.dll" />
        <File Name="System.Net.Mail.dll" />
        <File Name="System.Net.NameResolution.dll" />
        <File Name="System.Net.NetworkInformation.dll" />
        <File Name="System.Net.Ping.dll" />
        <File Name="System.Net.Primitives.dll" />
        <File Name="System.Net.Requests.dll" />
        <File Name="System.Net.Security.dll" />
        <File Name="System.Net.ServicePoint.dll" />
        <File Name="System.Net.Sockets.dll" />
        <File Name="System.Net.WebClient.dll" />
        <File Name="System.Net.WebHeaderCollection.dll" />
        <File Name="System.Net.WebProxy.dll" />
        <File Name="System.Net.WebSockets.Client.dll" />
        <File Name="System.Net.WebSockets.dll" />
        <File Name="System.Numerics.dll" />
        <File Name="System.Numerics.Vectors.dll" />
        <File Name="System.ObjectModel.dll" />
        <File Name="System.Private.CoreLib.dll" />
        <File Name="System.Private.DataContractSerialization.dll" />
        <File Name="System.Private.Uri.dll" />
        <File Name="System.Private.Xml.dll" />
        <File Name="System.Private.Xml.Linq.dll" />
        <File Name="System.Reflection.DispatchProxy.dll" />
        <File Name="System.Reflection.dll" />
        <File Name="System.Reflection.Emit.dll" />
        <File Name="System.Reflection.Emit.ILGeneration.dll" />
        <File Name="System.Reflection.Emit.Lightweight.dll" />
        <File Name="System.Reflection.Extensions.dll" />
        <File Name="System.Reflection.Metadata.dll" />
        <File Name="System.Reflection.Primitives.dll" />
        <File Name="System.Reflection.TypeExtensions.dll" />
        <File Name="System.Resources.Reader.dll" />
        <File Name="System.Resources.ResourceManager.dll" />
        <File Name="System.Resources.Writer.dll" />
        <File Name="System.Runtime.CompilerServices.Unsafe.dll" />
        <File Name="System.Runtime.CompilerServices.VisualC.dll" />
        <File Name="System.Runtime.dll" />
        <File Name="System.Runtime.Extensions.dll" />
        <File Name="System.Runtime.Handles.dll" />
        <File Name="System.Runtime.InteropServices.dll" />
        <File Name="System.Runtime.InteropServices.RuntimeInformation.dll" />
        <File Name="System.Runtime.InteropServices.WindowsRuntime.dll" />
        <File Name="System.Runtime.Loader.dll" />
        <File Name="System.Runtime.Numerics.dll" />
        <File Name="System.Runtime.Serialization.dll" />
        <File Name="System.Runtime.Serialization.Formatters.dll" />
        <File Name="System.Runtime.Serialization.Json.dll" />
        <File Name="System.Runtime.Serialization.Primitives.dll" />
        <File Name="System.Runtime.Serialization.Xml.dll" />
        <File Name="System.Security.AccessControl.dll" />
        <File Name="System.Security.Claims.dll" />
        <File Name="System.Security.Cryptography.Algorithms.dll" />
        <File Name="System.Security.Cryptography.Cng.dll" />
        <File Name="System.Security.Cryptography.Csp.dll" />
        <File Name="System.Security.Cryptography.Encoding.dll" />
        <File Name="System.Security.Cryptography.OpenSsl.dll" />
        <File Name="System.Security.Cryptography.Primitives.dll" />
        <File Name="System.Security.Cryptography.X509Certificates.dll" />
        <File Name="System.Security.dll" />
        <File Name="System.Security.Principal.dll" />
        <File Name="System.Security.Principal.Windows.dll" />
        <File Name="System.Security.SecureString.dll" />
        <File Name="System.ServiceModel.Web.dll" />
        <File Name="System.ServiceProcess.dll" />
        <File Name="System.Text.Encoding.dll" />
        <File Name="System.Text.Encoding.Extensions.dll" />
        <File Name="System.Text.RegularExpressions.dll" />
        <File Name="System.Threading.dll" />
        <File Name="System.Threading.Overlapped.dll" />
        <File Name="System.Threading.Tasks.Dataflow.dll" />
        <File Name="System.Threading.Tasks.dll" />
        <File Name="System.Threading.Tasks.Extensions.dll" />
        <File Name="System.Threading.Tasks.Parallel.dll" />
        <File Name="System.Threading.Thread.dll" />
        <File Name="System.Threading.ThreadPool.dll" />
        <File Name="System.Threading.Timer.dll" />
        <File Name="System.Transactions.dll" />
        <File Name="System.Transactions.Local.dll" />
        <File Name="System.ValueTuple.dll" />
        <File Name="System.Web.dll" />
        <File Name="System.Web.HttpUtility.dll" />
        <File Name="System.Windows.dll" />
        <File Name="System.Xml.dll" />
        <File Name="System.Xml.Linq.dll" />
        <File Name="System.Xml.ReaderWriter.dll" />
        <File Name="System.Xml.Serialization.dll" />
        <File Name="System.Xml.XDocument.dll" />
        <File Name="System.Xml.XmlDocument.dll" />
        <File Name="System.Xml.XmlSerializer.dll" />
        <File Name="System.Xml.XPath.dll" />
        <File Name="System.Xml.XPath.XDocument.dll" />
        <File Name="ucrtbase.dll" />
        <File Name="WindowsBase.dll" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>