name: build-main
on:
  pull_request:
    branches:
      - main
  pull_request_target:
    types: [ opened, synchronize, edited ]
    branches:
      - main
  push:
    branches:
      - main
jobs:
  build-and-test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: ['12']
    name: Node ${{ matrix.node }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup Node
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node }}
          cache: 'npm'
      - name: npm install
        run: npm install
      - name: Build and test
        run: npm test
      - name: Check coveralls
        run: cat coverage/lcov.info
      - name: Coveralls Parallel
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          flag-name: run-node-${{ matrix.node }}
#          parallel: true
#  finish:
#    needs: build-and-test
#    runs-on: ubuntu-latest
#    steps:
#      - name: Coveralls Finished
#        uses: coverallsapp/github-action@master
#        with:
#          github-token: ${{ secrets.GITHUB_TOKEN }}
#          parallel-finished: true
# after_script: "cat ./coverage/lcov.info | ./node_modules/.bin/coveralls"
